h1 { 
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  color: #FFF; 
  background-color: #85ADFF;
  }
  
.btn-group {
  padding: 5px;
  border-top: solid 1pt;
  border-bottom: solid 1pt;
}